<!doctype html>
<html>
<head>
<script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>
<script src="https://cdn.tailwindcss.com"></script>
<style>
    .htmx-indicator{
        opacity:0;
        transition: opacity 500ms ease-in;
    }
    .htmx-request .htmx-indicator{
        opacity:1
    }
    .htmx-request.htmx-indicator{
        opacity:1
    }
</style> 

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="">
      <div class="p-10 divide-y">
        <div class="py-8">
          <h1 class="text-4xl font-bold">Change CVE Subcomponent</h1>
          <p class="mt-2 text-lg text-gray-600">
            A tool written to help prodsec set subcomponents across multiple tracker bugs.
          </p>
          <div class="mt-4 flex space-x-4">
            <a class="text-lg underline"
               href="https://gitlab.com/wmealing_rh/change-component/wiki/about">
              About
            </a>
            <a class="text-lg underline"
               hx-target="#cookiehere"
               hx-get="/setcookie/">
              Settings
            </a>
            <div id="cookiehere">
            </div>
          </div>
        </div>
        <div class="">
          <div class="mt-8">
            <div class="grid grid-row-none gap-6">
              <div>

              <form id="cve-search-form" hx-post="/search">                
                <label class="block p-5">
                  <span class="text-gray-700">Specify a CVE</span>
                  <input type="text"
                       class="text-lg mt-2 block w-full bg-blue-100 p-5"
                       id="search-value"
                       name="search-value"
                       placeholder="CVE-YYYY-NNNNN">
                </label>

                
                <div class="flex md:flex md:flex-grow flex-row justify-end space-x-1 p-5">
                  <button type="submit"
                          class="text-lg bg-blue-400 text-white font-bold px-10 py-2"
                          hx-post="/search/"
			  hx-indicator="#spinner"
                          hx-target="#cve-list-div">
                    Search
                    <img  id="spinner" class="htmx-indicator inline-block px-4" src="/static/bars.svg"/>
                  </button>

                </div>
              </form>
              </div>

              <form id="cve-list-changeform" name="changeform" hx-post="/process">
              <div id="cve-list-div" >
                Enter a CVE above.
              </div>
              
              <label class="block">
                <span class="text-gray-700">Select a Component</span>
                <select name="subcomponent"
                  class="bg-blue-100 p-2 block w-full mt-1 rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0">

                  <% loop for component in ( @ components ) do %>
                  <option ><%= (getf component :name )  %> </option>
                  <% end %>
                  
                </select>
              </label>
              <div class="flex md:flex md:flex-grow flex-row justify-end space-x-1 p-5">
                  <button type="submit"
                          hx-post="/process/"
                          hx-target="#execution-results"
                          class="text-lg bg-blue-400 text-white font-bold px-5 py-2 ">
                    Apply Subcomponent
                  </button>
              </div>
              </form>

              <div id="execution-results">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  

</body>


</html>
